<a href="https://colab.research.google.com/github/premdub/HHA-Data-Cleaning/blob/main/clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
!git clone https://github.com/premdub/HHA-Data-Cleaning.git

fatal: destination path 'HHA-Data-Cleaning' already exists and is not an empty directory.

In [111]:
import pandas as pd
import datetime as dt
import uuid 
import numpy as np

In [112]:
# load in data 
df = pd.read_csv("/content/HHA-Data-Cleaning/Data/School_Learning_Modalities.csv")

df

,Unnamed: 0,District Nces Id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code
0,0,100005,Albertville City,2022-08-28T00:00:00.000,In Person,6,5824.0,Albertville,AL,35950
1,1,100006,Marshall County,2022-08-28T00:00:00.000,In Person,15,5764.0,Guntersville,AL,35976
2,2,100007,Hoover City,2022-08-28T00:00:00.000,In Person,18,14061.0,Hoover,AL,35243
3,3,100008,Madison City,2022-08-28T00:00:00.000,In Person,11,11695.0,Madison,AL,35758
4,4,100011,Leeds City,2022-08-28T00:00:00.000,In Person,4,2076.0,Leeds,AL,35094
...,...,...,...,...,...,...,...,...,...,...
995,995,627810,Oak Grove Elementary,2022-08-28T00:00:00.000,In Person,17,9757.0,San Jose,CA,95119
996,996,627840,Oak Grove Union Elementary,2022-08-28T00:00:00.000,In Person,2,878.0,Santa Rosa,CA,95401
997,997,627850,Oak Park Unified,2022-08-28T00:00:00.000,In Person,8,4527.0,Oak Park,CA,91377
998,998,628050,Oakland Unified,2022-08-28T00:00:00.000,In Person,85,36154.0,Oakland,CA,94607
999,999,628080,Oakley Union Elementary,2022-08-28T00:00:00.000,In Person,9,5194.0,Oakley,CA,94561

In [88]:
##count of columns and rows 
countRows, countColumns = df.shape
df.shape

(1000, 10)

In [89]:
# get a count of the number of rows and columns
countRows, countColumns = df.shape

# preview get random sample of 25 rows
df.sample(25)

,Unnamed: 0,District Nces Id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code
126,126,400151,New Horizon School for the Performing Arts (4366),2022-08-28T00:00:00.000,In Person,1,166.0,MESA,AZ,85204
498,498,600026,El Tejon Unified,2022-08-28T00:00:00.000,In Person,3,754.0,Lebec,CA,93243
913,913,622230,Lodi Unified,2022-08-28T00:00:00.000,In Person,49,28626.0,Lodi,CA,95240
665,665,603090,Arena Union Elementary,2022-08-28T00:00:00.000,In Person,1,232.0,Point Arena,CA,95468
257,257,403150,Fort Huachuca Accommodation District (4167),2022-08-28T00:00:00.000,In Person,3,910.0,FORT HUACHUCA,AZ,85613
882,882,620130,La Canada Unified,2022-08-28T00:00:00.000,In Person,4,4131.0,La Canada,CA,91011
995,995,627810,Oak Grove Elementary,2022-08-28T00:00:00.000,In Person,17,9757.0,San Jose,CA,95119
745,745,609390,Colton Joint Unified,2022-08-28T00:00:00.000,In Person,28,21469.0,Colton,CA,92324
392,392,502820,BAY SCHOOL DISTRICT,2022-08-28T00:00:00.000,In Person,2,621.0,BAY,AR,72411
634,634,602341,High Tech High Mesa District,2022-08-28T00:00:00.000,In Person,1,229.0,San Diego,CA,92111
613,613,602108,San Diego Workforce Innovation High District,2022-08-28T00:00:00.000,In Person,1,2518.0,National City,CA,91950
357,357,409600,Yuma Elementary District (4499),2022-08-28T00:00:00.000,In Person,19,9009.0,Yuma,AZ,85364
92,92,200775,Yukon Flats School District,2022-08-28T00:00:00.000,In Person,6,211.0,Ft. Yukon,AK,99740
433,433,507380,HARRISON SCHOOL DISTRICT,2022-08-28T00:00:00.000,In Person,5,2727.0,HARRISON,AR,72601
437,437,507990,HOXIE SCHOOL DISTRICT,2022-08-28T00:00:00.000,In Person,2,859.0,HOXIE,AR,72433
400,400,503420,LEAD HILL SCHOOL DISTRICT,2022-08-28T00:00:00.000,In Person,2,361.0,LEAD HILL,AR,72644
666,666,603270,Arvin Union,2022-08-28T00:00:00.000,In Person,4,3086.0,Arvin,CA,93203
476,476,512570,SOUTH SIDE SCHOOL DISTRICT,2022-08-28T00:00:00.000,In Person,2,536.0,BEE BRANCH,AR,72013
353,353,409430,Window Rock Unified District (4154),2022-08-28T00:00:00.000,In Person,6,1937.0,Fort Defiance,AZ,86504
384,384,500418,FUTURE SCHOOL OF FORT SMITH,2022-08-28T00:00:00.000,In Person,1,226.0,FORT SMITH,AR,72917
219,219,400953,The Grande Innovation Academy (92978),2022-08-28T00:00:00.000,In Person,1,669.0,CASA GRANDE,AZ,85122
615,615,602129,Greater San Diego Academy District,2022-08-28T00:00:00.000,In Person,1,167.0,Jamul,CA,91935
718,718,607410,Capay Joint Union Elementary,2022-08-28T00:00:00.000,In Person,1,191.0,Orland,CA,95963
312,312,406900,Red Rock Elementary District (4447),2022-08-28T00:00:00.000,In Person,1,392.0,Red Rock,AZ,85145
664,664,602970,Arcadia Unified,2022-08-28T00:00:00.000,In Person,11,9254.0,Arcadia,CA,91006

In [90]:
# print out of the column names 

df.columns

Index(['Unnamed: 0', 'District Nces Id', 'district_name', 'week',
       'learning_modality', 'operational_schools', 'student_count', 'city',
       'state', 'zip_code'],
      dtype='object')

In [91]:
## clean the data
# list columns
list(df)


############## COLUMN NAMES ##############
############## COLUMN NAMES ##############
############## COLUMN NAMES ##############

df.columns 
column_names = list(df)

# Cleans the strings that might exist within each column  (YES)
## remove all special characters and whitespace ' ' from column names  
df.columns = df.columns.str.replace('[^A-Za-z0-9]+', '_') ## regex 
list(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app

['Unnamed_0',
 'District_Nces_Id',
 'district_name',
 'week',
 'learning_modality',
 'operational_schools',
 'student_count',
 'city',
 'state',
 'zip_code']

In [92]:
# initializing list 
list(df)
special_characters = "!@#$%^&*()-+?_=,<>/"

# printing original list
print("The original list is : " + str(df))
  
# Check for Special_Character  in List
# Using in operator + any()

res = any(special_characters in ele for ele in (df))
# printing result 

print("Does any string contain special_characters ? : " + str(res))

The original list is :      Unnamed_0  District_Nces_Id               district_name  \
0            0            100005            Albertville City
1            1            100006             Marshall County
2            2            100007                 Hoover City
3            3            100008                Madison City
4            4            100011                  Leeds City
..         ...               ...                         ...
995        995            627810        Oak Grove Elementary
996        996            627840  Oak Grove Union Elementary
997        997            627850            Oak Park Unified
998        998            628050             Oakland Unified
999        999            628080     Oakley Union Elementary

                        week learning_modality  operational_schools  \
0    2022-08-28T00:00:00.000         In Person                    6
1    2022-08-28T00:00:00.000         In Person                   15
2    2022-08-28T00:00:00.000         In Person                   18
3    2022-08-28T00:00:00.000         In Person                   11
4    2022-08-28T00:00:00.000         In Person                    4
..                       ...               ...                  ...
995  2022-08-28T00:00:00.000         In Person                   17
996  2022-08-28T00:00:00.000         In Person                    2
997  2022-08-28T00:00:00.000         In Person                    8
998  2022-08-28T00:00:00.000         In Person                   85
999  2022-08-28T00:00:00.000         In Person                    9

     student_count          city state  zip_code
0           5824.0   Albertville    AL     35950
1           5764.0  Guntersville    AL     35976
2          14061.0        Hoover    AL     35243
3          11695.0       Madison    AL     35758
4           2076.0         Leeds    AL     35094
..             ...           ...   ...       ...
995         9757.0      San Jose    CA     95119
996          878.0    Santa Rosa    CA     95401
997         4527.0      Oak Park    CA     91377
998        36154.0       Oakland    CA     94607
999         5194.0        Oakley    CA     94561

[1000 rows x 10 columns]
Does any string contain special_characters ? : False

In [93]:
## Assess White_space  (YES)
import re
  
# initializing list 
list(df)
  
# printing original list
print("The original list is : " + str(df))
  
# Check for Whitespace in List
# Using in operator + any()

res = any('' in ele for ele in (df))
# printing result 

print("Does any string contain white spaces ? : " + str(res))

The original list is :      Unnamed_0  District_Nces_Id               district_name  \
0            0            100005            Albertville City
1            1            100006             Marshall County
2            2            100007                 Hoover City
3            3            100008                Madison City
4            4            100011                  Leeds City
..         ...               ...                         ...
995        995            627810        Oak Grove Elementary
996        996            627840  Oak Grove Union Elementary
997        997            627850            Oak Park Unified
998        998            628050             Oakland Unified
999        999            628080     Oakley Union Elementary

                        week learning_modality  operational_schools  \
0    2022-08-28T00:00:00.000         In Person                    6
1    2022-08-28T00:00:00.000         In Person                   15
2    2022-08-28T00:00:00.000         In Person                   18
3    2022-08-28T00:00:00.000         In Person                   11
4    2022-08-28T00:00:00.000         In Person                    4
..                       ...               ...                  ...
995  2022-08-28T00:00:00.000         In Person                   17
996  2022-08-28T00:00:00.000         In Person                    2
997  2022-08-28T00:00:00.000         In Person                    8
998  2022-08-28T00:00:00.000         In Person                   85
999  2022-08-28T00:00:00.000         In Person                    9

     student_count          city state  zip_code
0           5824.0   Albertville    AL     35950
1           5764.0  Guntersville    AL     35976
2          14061.0        Hoover    AL     35243
3          11695.0       Madison    AL     35758
4           2076.0         Leeds    AL     35094
..             ...           ...   ...       ...
995         9757.0      San Jose    CA     95119
996          878.0    Santa Rosa    CA     95401
997         4527.0      Oak Park    CA     91377
998        36154.0       Oakland    CA     94607
999         5194.0        Oakley    CA     94561

[1000 rows x 10 columns]
Does any string contain white spaces ? : True

In [94]:
#Converts the column types to the correct types
df
df.columns
df.infer_objects().dtypes

Unnamed_0                int64
District_Nces_Id         int64
district_name           object
week                    object
learning_modality       object
operational_schools      int64
student_count          float64
city                    object
state                   object
zip_code                 int64
dtype: object

In [44]:
## Look for duplicate rows and remove duplicate rows
df = pd.read_csv("/content/HHA-Data-Cleaning/Data/School_Learning_Modalities.csv")

df

,District Nces Id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code
0,100005,Albertville City,2022-08-28T00:00:00.000,In Person,6,5824.0,Albertville,AL,35950
1,100006,Marshall County,2022-08-28T00:00:00.000,In Person,15,5764.0,Guntersville,AL,35976
2,100007,Hoover City,2022-08-28T00:00:00.000,In Person,18,14061.0,Hoover,AL,35243
3,100008,Madison City,2022-08-28T00:00:00.000,In Person,11,11695.0,Madison,AL,35758
4,100011,Leeds City,2022-08-28T00:00:00.000,In Person,4,2076.0,Leeds,AL,35094
...,...,...,...,...,...,...,...,...,...
995,627810,Oak Grove Elementary,2022-08-28T00:00:00.000,In Person,17,9757.0,San Jose,CA,95119
996,627840,Oak Grove Union Elementary,2022-08-28T00:00:00.000,In Person,2,878.0,Santa Rosa,CA,95401
997,627850,Oak Park Unified,2022-08-28T00:00:00.000,In Person,8,4527.0,Oak Park,CA,91377
998,628050,Oakland Unified,2022-08-28T00:00:00.000,In Person,85,36154.0,Oakland,CA,94607
999,628080,Oakley Union Elementary,2022-08-28T00:00:00.000,In Person,9,5194.0,Oakley,CA,94561

In [95]:
#drop duplicate rows
df.drop_duplicates()

,Unnamed_0,District_Nces_Id,district_name,week,learning_modality,operational_schools,student_count,city,state,zip_code
0,0,100005,Albertville City,2022-08-28T00:00:00.000,In Person,6,5824.0,Albertville,AL,35950
1,1,100006,Marshall County,2022-08-28T00:00:00.000,In Person,15,5764.0,Guntersville,AL,35976
2,2,100007,Hoover City,2022-08-28T00:00:00.000,In Person,18,14061.0,Hoover,AL,35243
3,3,100008,Madison City,2022-08-28T00:00:00.000,In Person,11,11695.0,Madison,AL,35758
4,4,100011,Leeds City,2022-08-28T00:00:00.000,In Person,4,2076.0,Leeds,AL,35094
...,...,...,...,...,...,...,...,...,...,...
995,995,627810,Oak Grove Elementary,2022-08-28T00:00:00.000,In Person,17,9757.0,San Jose,CA,95119
996,996,627840,Oak Grove Union Elementary,2022-08-28T00:00:00.000,In Person,2,878.0,Santa Rosa,CA,95401
997,997,627850,Oak Park Unified,2022-08-28T00:00:00.000,In Person,8,4527.0,Oak Park,CA,91377
998,998,628050,Oakland Unified,2022-08-28T00:00:00.000,In Person,85,36154.0,Oakland,CA,94607
999,999,628080,Oakley Union Elementary,2022-08-28T00:00:00.000,In Person,9,5194.0,Oakley,CA,94561

In [116]:
#Assess missingness (count of missing values per column) (YES)
# get a count of missing values in each column
df.isnull().sum()

Unnamed: 0             0
District Nces Id       0
district_name          0
week                   0
learning_modality      0
operational_schools    0
student_count          1
city                   0
state                  0
zip_code               0
dtype: int64

In [130]:
 #New data field: attempt to create a new column called modality_inperson.  This
###column should contain a binary value of true or false. Try to write a function that takes in the old column
##name (learning modality), and recodes the value for a specific row to true, if
##the learning modality value is ‘in-person’, and recodes it to false if the value
## is either ‘remote’ or ‘hybrid’

df['Modality_Inperson'] = df['learning_modality'].apply(lambda x : 'In Person' if 'false' in x else 'true')
print (df[{'Modality_Inperson', 'learning_modality'}])

    Modality_Inperson learning_modality
0                true         In Person
1                true         In Person
2                true         In Person
3                true         In Person
4                true         In Person
..                ...               ...
995              true         In Person
996              true         In Person
997              true         In Person
998              true         In Person
999              true         In Person

[1000 rows x 2 columns]